// 메인
.MK #wrap #container {
    .mainBox {

        // 투데이
        &.today {
            display: flex;
            align-items: flex-end;
            gap: 13px 10px;
            flex-wrap: wrap;

            .title {
                width: 100%;                
            }

            .reg_day {                
                font-size: $font12;
                letter-spacing: -0.3px;
                color: #8e939b;
                padding-bottom: 1px;
                position: absolute;
                left: 90px;
                top: 10px;
            }

            .bg_box {
                width: 100%;
                border-radius: 16px;
                background-color: #1f3143;

                .data_opinion {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 13px 19px;
                    gap: 10px;
                }

                .data_opinion .line {
                    .th {
                        font-size: $font13;
                        letter-spacing: -0.33px;
                        color: #8e939b;
                    }

                    .td {
                        padding-top: 8px;
                        font-size: $font18;
                        letter-spacing: -0.45px;
                        color: #7f8ca3;

                        .company_nm {
                            @include white-space;
                            max-width: 90%;                            
                            @media (min-width: 320px) and (max-width: 359px) {
                                max-width: 64px;                                
                            }
                            @media (min-width: 360px) and (max-width: 425px) {
                                max-width: 120px;                                
                            }
                            @media (min-width: 426px) {
                                max-width: 100%;                                                            
                            }                            
                        }

                        b {
                            font-weight: $f_sizeB;
                            color: #d9e0eb;
                        }

                        .increase {
                            color: rgba(255, 78, 78, 0.7);

                            b {
                                font-weight: normal;
                                color: $colup;
                                opacity: 1;
                            }
                        }

                        .decrease {
                            color: rgba(0, 147, 255, 0.7);

                            b {
                                font-weight: normal;
                                color: $coldown;
                                opacity: 1;
                            }
                        }

                        .same {
                            color: #d9e0eb;
                        }
                    }
                }
            }
        }

        // 검색바, 검색 자동완성
        &.searching {
            @include searchArea;
        }

        // AI추천
        &.area_recom {
            // margin-top: 55px;
            padding: 0;

            @at-root.page_nav {       
                position: sticky;         
                top: 64px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                gap: 0 5px;
                margin-top: 55px;
                padding: 0 5px;
                height: 40px;
                width: 100%;
                box-sizing: border-box;
                border-bottom: 1px solid #28426e;
                background-color: #19242e;
                
                z-index: 81;                

                &.boxShadow {
                    border-top: 1px solid #28426e;

                    // box-shadow: 0px 4px 20px -9px #b2b9c9;
                    li {
                        // padding: 9px 5px 8px;
                    }
                }

                li {
                    padding: 0;
                    box-sizing: border-box;
                    flex: 2;
                    text-align: center;
                    position: relative;
                    top: 1px;                    

                    &:last-of-type {
                        flex: 1;
                    }

                    a {
                        display: inline-block;
                        padding: 5px 10px 7px;
                        box-sizing: border-box;
                        font-size: $font16;
                        font-weight: $f_sizeB;
                        letter-spacing: -1.45px;
                        text-align: center;
                        color: #8e939b;      ;                  
                    }

                    &.active {
                        border-bottom: 3px solid #126fbe;

                        a {
                            font-weight: $f_sizeB;
                            color: #126fbe;
                            padding-bottom: 5px;
                        }
                    }
                }
            }

            .maingameSwiper {
                padding-right: 15px;
            }

            .maingameSwiper .swiper-slide {
                display: block;
                width: auto;
            }

            &>.title a {
                display: block;
                font-size: $font16;
                letter-spacing: -0.4px;
                color: #d9e0eb;
            }

            .list_area {
                margin-top: 24px;
                padding-left: 16px;

                .area {
                    width: 215px;
                    background: #1f3143;
                    box-sizing: border-box;
                    padding: 16px 14px;
                    border-radius: 16px;
                }

                .list .title a {
                    @include white-space;                    
                    font-size: 16px;
                    font-weight: normal;
                    letter-spacing: -0.4px;
                    color: #d9e0eb;
                }

                .list .detail {
                    display: flex;
                    align-items: flex-end;
                    margin-top: 3px;

                    .num,
                    .num span {
                        font-size: $font20;
                        font-weight: $f_sizeB;
                        letter-spacing: -0.5px;
                        color: rgba(217, 224, 235, 0.65);
                        font-weight: normal;

                        b {
                            font-weight: $f_sizeB;
                        }
                    }
                }

                .list .num>div {
                    margin-top: 15px;
                }

                .list .num>div:last-child {
                    padding-left: 5px;
                }

                .list .num .th {
                    display: block;
                    font-size: $font13;
                    letter-spacing: -0.33px;
                    color: #7f8ca3;
                }

                .list .num {
                    display: flex;
                    justify-content: space-between;

                    b {
                        font-weight: normal;
                    }
                }

                .list .num .td {
                    font-size: $font18;
                    letter-spacing: -0.45px;
                    color: rgba(217, 224, 235, 0.65);

                    b {
                        color: #d9e0eb;
                    }
                }

                .list .num .dod {
                    display: inline-block;
                    margin-top: 3px;
                    padding: 2px 5px;
                    min-width: 56px;
                    border-radius: 3px;
                    background-color: #c35159;
                    box-sizing: border-box;

                    font-size: $font14;
                    letter-spacing: -0.35px;
                    color: rgba(255, 255, 255, 0.6);

                    b {
                        color: #fff;
                        font-weight: normal;
                    }
                }

                .list .num .dod.decrease {
                    color: #fff;
                    background-color: $coldown;

                    b {
                        color: #fff;
                        font-weight: normal;
                    }
                }

                .list .per {
                    padding-left: 8px;

                    span {
                        font-size: $font12;
                        letter-spacing: -0.3px;
                        font-weight: normal;

                        b {
                            font-weight: normal;
                        }
                    }
                }

                .list .per span.increase {
                    color: rgba(255, 78, 78, 0.7);

                    b {
                        color: $colup;
                    }
                }

                .list .per span.decrease {
                    color: rgba(0, 147, 255, 0.7);

                    b {
                        color: $coldown;
                    }
                }

                .maingameSwiper {
                    padding-right: 15px;

                    .swiper-slide {
                        display: block;
                        width: auto;
                    }
                }

                .more {
                    text-align: right;
                    margin-top: 18px;
                    display: flex;
                    justify-content: flex-end;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 9px;
                        position: relative;
                        padding: 5px 16px;
                        border-radius: 16px;
                        border: solid 1px #28426e;
                        font-weight: normal;
                        font-size: $font15;
                        letter-spacing: -0.38px;
                        color: #8796a7;

                        &::after {
                            @include go_back;
                            width: 6px;
                            height: 6px;
                            transform: rotate(45deg);                            
                            border-color: #818ca1;
                        }
                    }

                }
            }
        }

        // 메인 중간배너
        @at-root .main_midbanner {
            margin-top: 60px;

            a,
            img {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }

        // 적중100 ,관심종목        
        &.area_hit100,
        &.area_fist {
            margin-top: 54px;
            padding-bottom: 42px;

            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                right: 0;
                display: block;
                width: 100%;
                height: 8px;
                background-color: #1a1e21;

            }

            .signal_list {
                display: flex;
                gap: 25px;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 20px;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    width: 100%;

                    li {
                        flex: 2;
                        text-align: center;

                        &.company_nm {
                            @include white-space;
                            flex: 3;
                            text-align: left;

                            a {
                                font-weight: normal;
                                font-size: $font16;
                                letter-spacing: -0.4px;
                                color: #d9e0eb;
                            }
                        }

                        &.signal {
                            font-size: $font14;
                            letter-spacing: -0.35px;
                            color: #d9e0eb;
                        }

                        &.num {
                            font-size: $font16;
                            letter-spacing: -0.4px;
                            color: rgba(217, 224, 235, 0.65);
                            text-align: right;

                            b {
                                font-weight: normal;
                                color: #d9e0eb;
                            }
                        }

                        &.increase,
                        &.decrease,
                        &.same {
                            font-size: $font14;
                            font-weight: normal;
                            letter-spacing: -0.35px;
                            color: rgba(255, 78, 78, 0.7);

                            b {
                                font-weight: normal;
                                color: $colup;
                            }
                        }

                        &.decrease {
                            color: rgba(0, 147, 255, 0.7);

                            b {
                                color: $coldown;
                            }
                        }
                        &.same {
                            color: #d9e0eb;

                            b {
                                color: #d9e0eb;
                            }
                        }

                        &.opinion {
                            flex: 1;
                            text-align: right;

                            span {
                                padding: 1px 8px;
                                border-radius: 3px;
                                font-size: $font13;
                                letter-spacing: -0.33px;
                                text-align: center;
                                color: #fff;

                                &.buy {
                                    background-color: #c35159;
                                }

                                &.hold {
                                    background-color: #4d7154;
                                }

                                &.sell {
                                    background-color: #0c6bb3;
                                }

                                &.waiting {
                                    background-color: #474952;
                                }
                            }
                        }

                    }
                }

                @include btn_more;
            }
        }

        // 관심종목
        &.area_fist {
            padding-bottom: 40px;

            .interestsBox {
                padding: 25px 0 0;
                text-align: center;
                p {
                    font-size: $font16;
                    font-weight: normal;                    
                    letter-spacing: -0.43px;                    
                    color: #d9e0eb;
                    b {
                        color: #ffd36f;
                        font-weight: normal;
                    }
                }
                .link_btn {
                    width: 40%;
                    margin: 15px auto;
                    text-align: center;
        
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        padding: 5px 9px;
                        border-radius: 16px;
                        background-color: #295a84;
                        font-size: $font15;
                        font-weight: normal;
                        letter-spacing: -0.38px;
                        color: #d9e0eb;
        
                        &::after {
                            @include go_back;
                            width: 4px;
                            height: 4px;
                            transform: rotate(45deg);
                            border-color: #dae0ea;
                        }
                    }
                }
            }

            .signal_list ul li.increase,
            .signal_list ul li.decrease {
                font-size: $font12;
            }

            .maingfistSwiper {
                .swiper-wrapper {
                    padding-bottom: 50px;
                }

                .swiper-pagination {
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                .swiper-pagination .swiper-pagination-bullet {
                    width: 8px;
                    height: 8px;
                    background-color: #126fbe;
                    opacity: 0.3;
                    margin: 0 4px;
                }

                .swiper-pagination .swiper-pagination-bullet-active {
                    width: 30px;
                    opacity: 0.5;
                    border-radius: 6px;
                    background-color: #126fbe;
                }
            }

        }

        // 테마
        &.area_theme {
            margin-top: 54px;
            padding: 0;
            padding-bottom: 42px;

            >.title {
                padding-left: 16px;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                right: 0;
                display: block;
                width: 100%;
                height: 8px;
                background-color: #1a1e21;

            }

            .theme_box {
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                gap: 7px 12px;

                .theme_img {
                    display: inline-block;
                }

                .sum {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .title {
                        width: 100%;

                        a {
                            display: flex;
                            align-items: center;
                            gap: 7px;
                            font-size: $font18;
                            font-weight: $f_sizeB;
                            letter-spacing: -0.45px;
                            color: #126fbe;

                            &::after {
                                @include go_back;
                                width: 5px;
                                height: 5px;
                                transform: rotate(45deg);                                
                                border-color: #818ca1;
                            }
                        }
                    }

                    .txt {
                        width: 100%;
                        font-size: $font14;
                        letter-spacing: -0.35px;
                        color: #7f8ca3;
                    }
                }
            }            

            .tabsArea {
                margin-top: 15px;
                @include tabsArea;

                .reg_day {
                    width: 100%;
                    margin-top: 13px;
                    font-size: $font12;
                    font-weight: normal;                
                    letter-spacing: -0.3px;
                    text-align: right;
                    color: #7f8ca3;                
                }

                .theme_list {
                    display: flex;
                    gap: 7px;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 10px;

                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 20px;
                        width: 100%;
                        padding: 12px 12px;
                        box-sizing: border-box;
                        border-radius: 8px;
                        background-color: #172e46;

                        li {
                            flex: 2;
                            text-align: center;

                            &.company_nm {
                                @include white-space;
                                flex: 3;
                                text-align: left;

                                a {
                                    font-weight: normal;
                                    font-size: $font16;
                                    letter-spacing: -0.4px;
                                    color: #d9e0eb;
                                }
                            }

                            &.num {
                                font-size: $font16;
                                letter-spacing: -0.4px;
                                color: rgba(217, 224, 235, 0.65);
                                text-align: right;

                                b {
                                    font-weight: normal;
                                    color: #d9e0eb;
                                }
                            }

                            &.increase,
                            &.decrease,
                            &.same {
                                flex: 1;
                                font-size: $font14;
                                font-weight: normal;
                                letter-spacing: -0.35px;
                                color: rgba(255, 78, 78, 0.7);

                                b {
                                    font-weight: normal;
                                    color: $colup;
                                }
                            }

                            &.decrease {
                                color: rgba(0, 147, 255, 0.7);

                                b {
                                    color: $coldown;
                                }
                            }
                            &.same {
                                color: #d9e0eb;

                                b {
                                    color: #d9e0eb;
                                }
                            }
                        }
                    }
                }
            }

            @include btn_more;

            .btn_more {
                margin-top: 16px;
                // width: calc(100% - 32px);
            }

        }

        // 투자노트
        &.area_note {
            margin-top: 54px;            

            .note_list {                
                margin-top: 20px;
                width: 100%;
                display: flex;
                gap: 7px;                
                flex-wrap: wrap;                
                justify-content: space-between;
                ul {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: stretch;
                    gap: 15px 15px;
                    padding: 12px 12px;                        
                    box-sizing: border-box;
                    border-radius: 8px;
                    background-color: #172e46;                                        
                }
                .note_nm {                    
                    flex: 2;                    
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    align-content: flex-start;
                }
                .note_nm a {
                    min-width: calc(100% - 40px);                          
                    font-size: 1rem;
                    font-weight: normal;
                    letter-spacing: -0.43px;
                    color: #d9e0eb;                    
                    overflow: hidden;                   
                    white-space: normal;
                    text-overflow: ellipsis;
                    display: -webkit-box !important;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                    word-break: break-all;
                }
                .sume_img {
                    height: 79px;
                    flex-basis: 79px;
                    border: 1px solid #28426e;
                    box-sizing: border-box;
                }
                .sume_img .img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
                .day {                                                            
                    margin-top: 15px;                             
                    color: #7f8ca3;                    
                    font-size: 0.8125rem;
                    letter-spacing: -0.33px;                    
                }
                .day .writer {
                    font-weight: normal;
                    color: #7f8ca3;                    
                    font-size: 0.8125rem;
                    letter-spacing: -0.33px;                                                            
                    padding-left: 10px;
                    word-wrap: break-word;
                    word-break: break-all;
                }
                #btn_free {                    
                    .note_nm {
                        background: url('/img/lokimg.svg') no-repeat 0 2px;                                                
                        background-size: 12px;
                        a {
                            text-indent: 20px;
                        }
                    }
                }
            }

            @include btn_more;
            .btn_more {
                margin-top: 16px;                
            }

            

        }
    }

}
