// 모달팝업

.modal {
    @at-root .blocker {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 98;        
        padding: 20px;
        box-sizing: border-box;
        background-color: #000;
        background-color: rgba(0,0,0,0.3);
        text-align: center;
        display: none;
    }

    position: fixed;
    top: 30%;
    z-index: 99;
    width: 94%;
    box-sizing: border-box;
    margin-left: 3%;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.44);
    background-color: #7f8ca3;
    display: none;

    &.slideUp {
        animation: fadeIn 0.8s, slideIn .4s linear;
        margin: 0 auto;
        margin-left: 3%;
        border-radius: 10px;
    }

    @keyframes slideIn {
        0% {
            transform: translateY(400px);
            animation-timing-function: ease-out;
        }

        60% {
            transform: translateY(-30px);
            animation-timing-function: ease-in;
        }

        80% {
            transform: translateY(10px);
            animation-timing-function: ease-out;
        }

        100% {
            transform: translateY(0px);
            animation-timing-function: ease-in;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.modal .pop_header .clse {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    padding: 4px;
    width: 17px;
    height: 17px;
    right: 14px;
    top: 14px;
}

.modal .pop_header .clse::before,
.modal .pop_header .clse::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 0;
    height: 22px;
    width: 1px;
    background-color: #445471;
}

.modal .pop_header .clse::before {
    transform: rotate(45deg);
}

.modal .pop_header .clse::after {
    transform: rotate(-45deg);
}

.modal .close-modal {
    display: none;
    visibility: hidden;
}

// 프리미엄 가입하기
.premium_join {
    background-color: #464f5d;    
    .pop_header {
        padding: 25px 15px 13px;        

        .clse::before,
        .clse::after {            
            background-color: #7f8ca3;
        }

        .pop_title {
            display: flex;
            align-items: center;
            gap: 8px;

            font-size: 32px;
            font-weight: $f_sizeB;
            line-height: 1.47;
            letter-spacing: -0.8px;
            text-align: left;
            color: #fff;
            
        }
        .period {            
            font-size: $font17;            
            line-height: 1.29;
            letter-spacing: -0.43px;            
            color: #7f8ca3;                        
        }
    }

    .pop_con {        
        padding: 20px 0 45px;
        width: calc(100% - 30px);
        margin: 0 auto;
        font-size: $font15;
        letter-spacing: -0.38px;
        color: #fff;
        border-top: 1px solid #74829b;
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            li.txt {
                position: relative;
                padding-left: 26px;
                font-weight: normal;
                font-size: $font15;                
                line-height: 1.47;
                letter-spacing: -0.38px;
                text-align: left;
                color: #fff;                                
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 20px;
                    height: 20px;
                    background: url('/img/icon_check.svg') no-repeat 0 0;
                }
            }
            
        }
        .btn_payment {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 43px;
            padding: 14px 15px;
            border-radius: 8px;
            background: #126fbe url('/img/icon_crown.svg') no-repeat 20% center;

            div {
                display: inline-block;
                font-size: $font15;
                line-height: 1.47;
                letter-spacing: -0.38px;
                color: #fff;

                b {
                    font-size: $font18;
                    line-height: 1.47;
                    letter-spacing: -0.38px;
                    color: #fff;
                }
            }
        }
    }

}
// AI매매신호
.modal.signal_pop01 {
    .pop_header {
        padding: 25px 15px 13px;
        border-bottom: 1px solid #74829b;

        .pop_title {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: $font18;
            font-weight: normal;
            letter-spacing: -0.45px;
            color: #fff;

            i {
                display: inline-block;
                width: 18px;
                height: 18px;

                img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }

            }
        }
    }

    .pop_con {
        padding: 20px 15px 45px;
        font-size: $font15;
        letter-spacing: -0.38px;
        color: #fff;

        p {
            font-size: $font15;
            letter-spacing: -0.38px;
            color: #fff;
        }

    }
}

// 관심종목 지정안내
.modal.signal_pop02 {
    .pop_header {
        position: relative;

        .attention {
            background-color: #ccd1d5;
            position: absolute;
            margin: auto;
            top: -15px;
            right: 0;
            bottom: 0;
            left: 0;
            height: 36px;
            width: 36px;
            transform: rotate(-45deg);
            animation-name: beat;
            animation-duration: 1s;
            animation-iteration-count: infinite;

            &:after {
                background-color: #ccd1d5;
                content: "";
                border-radius: 50%;
                position: absolute;
                height: 36px;
                width: 36px;
                top: 0px;
                left: 18px;
            }

            &:before {
                background-color: #ccd1d5;
                content: "";
                border-radius: 50%;
                position: absolute;
                height: 36px;
                width: 36px;
                top: -18px;
                left: 0px;
            }

            &.on {
                background-color: #d64763;

                &:after,
                &:before {
                    background-color: #d64763;
                }
            }
        }

        padding: 100px 15px 13px;
        border-bottom: 1px solid #74829b;

        .pop_title {
            font-size: $font20;
            font-weight: $f_sizeB;
            letter-spacing: -0.5px;
            text-align: center;
            color: #fff;

            i {
                display: inline-block;
                width: 18px;
                height: 18px;

                img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }

            }
        }
    }

    .pop_con {
        padding: 20px 15px;
        font-size: $font15;
        letter-spacing: -0.38px;
        color: #fff;

        p {
            text-align: center;
            font-size: $font15;
            letter-spacing: -0.38px;
            color: #fff;

            .guide {
                color: rgba(255, 255, 255, 0.6);
            }
        }

        .link_btn {
            width: 50%;
            margin: 15px auto;
            text-align: center;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding: 5px 9px;
                border-radius: 16px;
                background-color: #295a84;
                font-size: $font15;
                font-weight: normal;
                letter-spacing: -0.38px;
                color: #d9e0eb;

                &::after {
                    @include go_back;
                    width: 4px;
                    height: 4px;
                    transform: rotate(45deg);
                    border-color: #dae0ea;
                }
            }
        }

    }
}