// 모달팝업
.modal {
    @at-root .blocker {
        z-index: 98;
        background-color: rgba(0, 0, 0, 0.5);
    }

    position: fixed;
    top: 40%;
    z-index: 99;
    width: 94%;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.44);
    background-color: #7f8ca3;
    display: none;

    &.slideUp {
        animation: fadeIn 1s, slideIn .8s linear;
        margin: 0 auto;
        margin-left: 3%;
        border-radius: 10px;
    }
    
    @keyframes slideIn {
        0% {
            transform: translateY(400px);
            animation-timing-function: ease-out;
        }

        60% {
            transform: translateY(-30px);
            animation-timing-function: ease-in;
        }

        80% {
            transform: translateY(10px);
            animation-timing-function: ease-out;
        }

        100% {
            transform: translateY(0px);
            animation-timing-function: ease-in;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.modal .pop_header .clse {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    padding: 4px;
    width: 17px;
    height: 17px;
    right: 14px;
    top: 14px;
}

.modal .pop_header .clse::before,
.modal .pop_header .clse::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 0;
    height: 22px;
    width: 1px;
    background-color: #445471;
}

.modal .pop_header .clse::before {
    transform: rotate(45deg);
}

.modal .pop_header .clse::after {
    transform: rotate(-45deg);
}

.modal .close-modal {
    display: none;
    visibility: hidden;
}

// AI매매신호
.modal.signal_pop01 {
    .pop_header {
        padding: 25px 15px 13px;
        border-bottom: 1px solid #74829b;

        .pop_title {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: $font18;
            font-weight: normal;
            letter-spacing: -0.45px;
            color: #fff;

            i {
                display: inline-block;
                width: 18px;
                height: 18px;

                img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }

            }
        }
    }

    .pop_con {
        padding: 20px 15px 45px;
        font-size: $font15;
        letter-spacing: -0.38px;
        color: #fff;

        p {
            font-size: $font15;
            letter-spacing: -0.38px;
            color: #fff;
        }

    }
}