/***** footer *****/
#footer.f_main {
    background-color: #1a1e21;
    .f_logo {
        font-size: $font16;
        font-weight: $f_sizeB;        
        letter-spacing: -0.8px;        
        color: #d9e0eb;
    }
    .service_info {
        margin-top: 15px;
        p {
            font-size: 10px;            
            line-height: 1.6;
            letter-spacing: -0.5px;
            color: #8e939b;
        }        
    }
    .terms_list {
        margin-top: 25px;
        display: flex;
        justify-content: flex-start;
        gap: 8px;

        li {
            position: relative;
            border-right: 1px solid #8c9199;
            padding-right: 8px;
            line-height: 1;
            a {
                font-size: $font13;      
                font-weight: normal;          
                line-height: 1.31;                
                color: #d9e0eb;
            }            
            &:last-child {
                border-right: none;
            }
        }
    }
    .foot_info {
        margin-top: 30px;        

        .info_tel_box {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            .sns_kakao {
                img {
                    display: inline-block;
                }
            }
            .cs {
                font-size: 10px;                
                line-height: 1.3;                
                color: #8c9199;            
            }
        }
        .copyright {
            margin-top: 20px;            
            font-size: 11px;            
            line-height: 1.55;            
            color: #8c9199;
            a {
                display: inline-block;
                padding-right: 8px;
                color: #8c9199;
                &:first-child {
                    border-right: 1px solid #8c9199;
                    padding-right: 8px;
                    margin-right: 8px;
                }
            }
        }
    }
}