/* 그리드 grid */
body,
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
    background-color: red;
}

#wrap {
    @include pad(0);    
}

#header {
    @include pad(0);

}

#container {
    @include pad(0);
    padding-top: calc(54px + 40px);    
    position: relative;
    min-height: 500px;

    &::after {
        content: "";
        display: table;
        table-layout: fixed;
        clear: both;
    }

    .mainBox {
        position: relative;
        padding: 0 16px;

        >.title,
        >.title a {
            position: relative;
            font-size: $font20;
            font-weight: $f_sizeB;
            letter-spacing: -0.5px;
            color: #126fbe;
        }

        >.title a {
            width: 100%;
            display: flex;
            order: 1;
            justify-content: space-between;
            align-items: center;

            &::after {
                order: 3;
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-top: 1px solid #7f8ca3;
                border-right: 1px solid #7f8ca3;
                transform: rotate(45deg);
            }

            &::before {
                flex: 1;
                order: 2;
                content: '더보기';
                display: inline-block;
                width: 50px;
                padding-right: 5px;
                box-sizing: border-box;
                text-align: right;
                font-size: $font14;
                font-weight: normal;
                letter-spacing: -0.35px;
                text-align: right;
                color: #7f8ca3;
            }
        }
    }
}

#footer {
    margin-top: 60px;
    padding: 24px 16px;
}

// 페이지 슬라이드 속도 data-transition speed
.slide {

    &.in,
    &.out {
        animation-timing-function: ease-in-out;
        animation-duration: 200ms;
    }
}

.zt-skill-bar * {
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.zt-skill-bar div {
    width: 0;
}

// a:hover, a:focus {
//     background-color: yellowgreen;
// }
a {    
    cursor: pointer;
    outline: none;
}

a:active {    
    position: relative;
    top: 1px;
    left: 1px;
    opacity: 0.7;
}

.MK #wrap #container .mainBox.today .bg_box .data_opinion {
    
}
.MK #wrap #container .mainBox.today .bg_box .data_opinion,
.MK #wrap #container .mainBox.area_recom .list_area .area,
.MK #wrap #container .mainBox.area_hit100 .signal_list ul,
.MK #wrap #container .mainBox.area_fist .signal_list ul,
.MK #wrap #container .mainBox.area_theme .tabsArea .theme_list ul,
.MK #wrap #container.sub_stock .recom_chartList .list,
.MK #wrap #container.sub_stock .hit_chartList .list,
.MK #wrap #container.sub_search .schBox.area_hot .signal_list ul,
.MK #wrap #container.sub_stock .fist_chartList .list,
.MK #wrap #container.sub_stock .theme_List .list,
.MK #wrap #container .mainBox.area_note .note_list ul,
.MK #wrap #container.sub_stock .note_list ul,
.MK #wrap #container.sub_search .mainBox.financials .area_note .note_list ul
 {    
    // background-color: greenyellow !important;
    &:active {
        opacity: 0.95;
        background-color: #295A84;
        border-radius: 16px;
    }    
    a:active {            
        top: 0;
        left: 0;
        opacity: 1;
    }
}