/* 헤더 header */
.MK #wrap #header.main_hdr,
.MK #wrap #header.sub_hdr,
.MK #wrap #header.view_hdr {
    background-color: #19242e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 16px;
    z-index: 82;
    box-sizing: border-box;
    border-bottom: 1px solid #19242e;

    .bgWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        height: 53px;

        .left_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .h1_logo {
                font-size: $font17;
                font-weight: normal;
                color: #d9e0eb;

                a {
                    display: inline-block;
                    font-size: $font17;
                    font-weight: normal;
                    color: #d9e0eb;
                    vertical-align: sub;
                    img {
                        display: inline-block;
                        width: 78px;
                    }
                }
            }

            .nation_list {
                z-index: 82;
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 6px;

                &::before {
                    content: '/';
                    font-size: $font17;
                    font-weight: normal;
                    color: #d9e0eb;
                }

                li {
                    opacity: 0;
                    height: 0;
                    visibility: hidden;
                    box-sizing: border-box;
                    font-size: $font17;
                    font-weight: normal;
                    color: #d9e0eb;

                    &.active {
                        opacity: 1;
                        height: auto;
                        visibility: visible;
                    }

                    &:first-child {
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                    }

                    &:last-child {
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }

                }

                .select {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    border-radius: 50%;
                    padding: 3px;
                    border: 1px solid #41485c;
                    font-size: 0;

                    &::before {
                        content: '';
                        display: inline-block;
                        position: relative;
                        top: -1px;
                        border-top: 2px solid #126fbe;
                        border-right: 2px solid #126fbe;
                        width: 6px;
                        height: 6px;
                        transform: rotate(135deg);
                    }
                }

                &.choice {
                    ul {
                        position: absolute;
                        left: 16px;
                        top: 0;
                    }

                    li {
                        opacity: 1;
                        height: auto;
                        visibility: visible;
                        transition: all 0.2s;
                        padding: 6px 20px;
                        background-color: #28426e;
                        color: #617ca8;

                        &.active {
                            background-color: #6aa9ff;
                            color: #fff;
                        }
                    }

                    .select {
                        display: none;
                    }
                }
            }

            .go_back {
                font-size: $font17;
                font-weight: normal;
                color: #d9e0eb;
                display: flex;
                align-items: center;
                gap: 9px;

                &::before {
                    @include go_back;
                    width: 8px;
                    height: 8px;
                }
            }
        }

        .r_menu {
            a {
                font-size: $font14;
                letter-spacing: -0.35px;
                color: #d9e0eb;
                padding: 5px 0;
                box-sizing: border-box;

                img {
                    display: inline-block;
                    vertical-align: middle;
                    padding-bottom: 2px;
                }
            }
        }

        .cen_box {
            padding-right: 5px;

            .page_title {
                font-size: $font17;
                font-weight: normal;
                color: #d9e0eb;
            }
        }
    }

    &.sub_hdr {
        .hm {
            opacity: 1;
        }

        .page_hdrName {
            display: none;
            width: 100%;
            opacity: 1;
        }

        &.fix {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.39);
            background-color: #374f64;
            border-bottom: 1px solid #526f89;
            transition: all 0.2s;

            .bgWrap {
                height: 39px;
                gap: 0;
            }

            .hm {
                opacity: 0;
                transition: all 0.2s;
            }

            .left_box,
            .hm,
            .cen_box {
                display: none;
            }

            .page_hdrName {
                display: block;
                opacity: 1;
                text-align: center;
                transition: all 0.2s;

                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: $font15;
                    letter-spacing: -0.38px;
                    color: #fff;

                    &::before {
                        @include go_back;
                        position: absolute;
                        left: 0;
                        top: 8px;
                        width: 6px;
                        height: 6px;
                    }
                }
            }
        }
    }

    &.service_hdr {
        background-color: #126fbe;
        border-bottom: 1px solid #126fbe;

        &.fix {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.39);
            background-color: #126fbe;            
            transition: all 0.2s;
        }
    }
}